* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 2rem;
}

.signForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.text {
    text-align: center;
    padding: 10px;
}

.text h3 {
    color: #132968;
    font-size: 33px;
}

.text h3 span {
    color: #fa6b6b;
    font-size: 33px;
}

.text h5 {
    padding: 10px;
    color: #fa6b6b;
    font-size: 15px;
}


i.massage {
    position: absolute;
    left: 5px;
    top: 24%;
    transform: translateY(-50%);
    font-size: 30px;
    color: #132968;
    border-right: 1px solid #132968;
    padding: 0 10px;


}

i.loke {
    position: absolute;
    left: 5px;
    top: 43%;
    transform: translateY(-50%);
    font-size: 30px;
    color: #132968;
    border-right: 1px solid #132968;
    padding: 0 10px;


}

i.loke1 {
    position: absolute;
    left: 5px;
    top: 70%;
    transform: translateY(-50%);
    font-size: 30px;
    color: #132968;
    border-right: 1px solid #132968;
    padding: 0 10px;


}

.form1,
.form2 {
    position: relative;

    display: flex;
    flex-direction: column;

    justify-content: flex-end;
}

.form1 label,
.form2 label {
    font-size: 21px;
    padding: 5px 0;
    color: #132968;
    font-weight: bold;
}


.form1 input,
.form2 input {
    margin: 10px 0;
    border-radius: 10px;
    padding: 20px 0;
    border: none;
    outline: none;
    background-color: #f4f2f2;
}

.form1 button,
.form2 button {
    margin: 10px 0;
    border-radius: 10px;
    padding: 20px 0;
    border: none;
    font-size: 33px;
    outline: none;
    background-color: #132968;
    font-size: 22px;
    color: #f4f2f2;
    border-radius: 33px;

}

.form1 button {
    width: 40%;
    margin-left: 300px;
}



.code {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.code input {
    width: 10%;

    padding: 20px 0;

    border-radius: 10px;
}

.left {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.left .textTop {
    padding: 10px;
}

.left .textTop h3 {
    padding: 5px 0;
    font-size: 44px;
    color: #fa6b6b;
    font-weight: bold;
}

.left .textTop h3:last-child {
    color: #132968;
    font-weight: bold;
}

.left .textButtom h3 {
    padding: 5px 0;
    font-size: 22px;
    color: #fa6b6b;
    font-weight: bold;
}

.left .textButtom h3:last-child {
    color: #132968;
    font-weight: bold;
}

/* Media Queries for Responsive Design */

@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .content img {
        width: 100%;
    }

    .signForm {
        width: 90%;
    }

    .form1 button,
    .form2 button {
        margin: 10px;
        width: 100%;

    }

    .form1,
    .form2 {
        width: 100%;
    }

    .code input {
        width: 20%;
    }
}